body {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header,
.hero {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(129, 52, 0);
    padding: 0 32px;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 150px;
    height: auto;
    border-radius: 50px;
    padding: 16px;
    flex-shrink: 0;
}

.header-link {
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color: white;
    font-weight: bold;
}

.header-link:hover {
    color: rgb(255, 197, 72);
}

.hero {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-left,
.hero-right {
    max-width: 500px;
    padding-bottom: 50px;
}

h1, h3 {
    color: white;
}

h3 {
    font-weight: 100;
}

.hero-image {
    max-width: 500px;
    border-radius: 25px;
}

.hero-button {
    background-color: rgb(224, 113, 9);
    padding: 12px;
    width: 100px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

