body {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header,
.hero {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(129, 52, 0);
    padding: 0 32px;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 180px;
    height: auto;
    border-top-left-radius: 20%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 60%;
    padding: 16px;
    flex-shrink: 0;
    transform: rotateY(180deg);
}

.header-link {
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color: white;
    font-weight: bold;
}

.header-link:hover {
    color: rgb(255, 197, 72);
}

.hero {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-left,
.hero-right {
    max-width: 500px;
    padding-top: 25px;
    padding-bottom: 50px;
}

h1, h3 {
    color: white;
}

h3 {
    font-weight: 100;
}

.hero-image {
    max-width: 500px;
    border-radius: 25px;
}

.hero-button {
    background-color: rgb(224, 113, 9);
    padding: 12px;
    width: 150px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.under-hero {
    background-color: white;
    margin: 0 10%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: bold;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-image-container {
    border-style: solid;
    border-color: rgb(129, 52, 0);
    width: 100px;
    height: 100px;
    padding: 32px;
    margin: 32px 32px 8px 32px;
    border-radius: 10%;
    background-image: url("./images/lowpoly-g55283fbe1_640.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25%;
}

.quote {
    background-color: antiquewhite;
    margin: 0 10%;
}
